# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\IT-learning\GeekUniversity\Java\SpringFramework 1 часть\Урок 4\akhmerov-hw-task-4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
